[tool.poetry]
name = "geojson-rewind"
version = "1.0.2"
description = "A Python library for enforcing polygon ring winding order in GeoJSON"
authors = ["chris48s"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/chris48s/geojson-rewind"
homepage = "https://github.com/chris48s/geojson-rewind"

[tool.poetry.dependencies]
python = "^3.6"

[tool.poetry.dev-dependencies]
coverage = "^6.1"
isort = { version = "^5.8", python = "^3.6.2" }
flake8 = "^4.0.1"
black = { version = "==21.9b0", allow-prereleases = true, python = "^3.6.2" }

[build-system]
requires = ["poetry>=1.0.2"]
build-backend = "poetry.masonry.api"

[tool.poetry.scripts]
rewind = 'geojson_rewind.rewind:main'
